html{
    
    background: linear-gradient(90deg, 
    rgba(134,180,58,0.47306862198004207) 13%, 
    rgba(253,29,183,0.4114439721200981) 50%, rgba(103,118,182,0.5066820673581933) 100%);
    /* background-size: 100% 1000px;
    background-repeat: no-repeat; */
    /* background-size: cover; */
/* width: auto;
height: auto; */
}

/* body background-color: rgb(228, 124, 173);} */

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tiles{
    /* background-color: rgb(134, 181, 164); */

    /* opacity: 0.5; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    /* gap-color: rgb( 171, 14, 72); */
}

.tile {
    border: 3px solid rgb(2, 2, 16);
    /* background-color: rgb(134, 181, 164); */
    opacity: 1;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.tile-green {
    background-color: green;
    color: red;
    font-weight: 900px;
    font-size: 40px;
}

.tile-yellow {
    background-color: yellow;
    color: red;
    font-weight: 900px;
    font-size: 40px;
}

.tile-gray {
    background-color: gray;
    color: red;
    font-weight: 900px;
    font-size: 40px;
}


.keyboard{
    margin-block: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.key{
    min-width: 30px;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

dialog {

    background-color: rgb(217, 173, 142);
}

h3 {

    background-color: rgb(217, 215, 172);
    color: rgb(171, 14, 72);
}